.footer {
    background: #aa9696;
    /* background: #3f20f0; */
    height: 55px;
    position: fixed;
    color: #fff;
    overflow: auto;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer>.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #f00404;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}

#footerImg {
    width: 30px;
    height: auto;
}

