div {
    display: block;
}

.pic {
    background-size: cover;
    background-position: 50%;
    height: 170px;
    width: 170px;
    margin: 8px 25px;
    border: 5px solid grey;
    border-radius: 3px;
    float: left;
    cursor: pointer;
}

#container{
    margin: 0px 300px;
}
